

p.center {
  text-align: center;
}



table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

/* Button Style */
/*   button {
	-moz-box-shadow:inset 0px 1px 3px -21px #000305;
	-webkit-box-shadow:inset 0px 1px 3px -21px #000305;
	box-shadow:inset 0px 1px 3px -21px #000305;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e7e9f0), color-stop(1, #15191c));
	background:-moz-linear-gradient(top, #e7e9f0 5%, #15191c 100%);
	background:-webkit-linear-gradient(top, #e7e9f0 5%, #15191c 100%);
	background:-o-linear-gradient(top, #e7e9f0 5%, #15191c 100%);
	background:-ms-linear-gradient(top, #e7e9f0 5%, #15191c 100%);
	background:linear-gradient(to bottom, #e7e9f0 5%, #15191c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e9f0', endColorstr='#15191c',GradientType=0);
	background-color:#e7e9f0;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #051621;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Arial;
	font-size:31px;
	font-weight:bold;
	padding:8px 39px;
	text-decoration:none;
	text-shadow:0px 0px 6px #091a29;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #15191c), color-stop(1, #e7e9f0));
	background:-moz-linear-gradient(top, #15191c 5%, #e7e9f0 100%);
	background:-webkit-linear-gradient(top, #15191c 5%, #e7e9f0 100%);
	background:-o-linear-gradient(top, #15191c 5%, #e7e9f0 100%);
	background:-ms-linear-gradient(top, #15191c 5%, #e7e9f0 100%);
	background:linear-gradient(to bottom, #15191c 5%, #e7e9f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15191c', endColorstr='#e7e9f0',GradientType=0);
	background-color:#15191c;
}
button:active {
	position:relative;
	top:1px;
}*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    float:top;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:120%;
    width:10%;
    float:left;
    padding:5px;	      
}
#section {
    width:99%;
    float:left;
    padding:5px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	
   float:bottom; 	 
}

.pull-me{
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #DADEDB;
    cursor:pointer;
}
.panel {
background: rgba(250, 250, 250, 0.17);
	background-size:90% 90%;
	height: inherit;
	display:none;
	font-family:garamond,times-new-roman,serif;
}
.panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
	border-top:solid 2px #FDFBFB;
}
.pull-me {
	display:block;
    position:relative;
    bottom:inherit;
    width:initial;
    height:30px;
	font-family:arial,sans-serif;
    font-size:23px;
	color:#ffffff;
    background:#54D0A4;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align: center
}
.pull-me p {
    text-align:center;
}


/*dhasjdasdklasdlkaskldaskldklasdkjaslkjdlkasjdjaskldjklasjdklasjkldjaklsjdklasjdklajskldjaskljdkasjkldjaslkdjaslkdsa*/


/*body {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}*/

body {
	background: #FFFFFF;
/*width: 1280px;
background-image: url("http://www.awwwards.com/awards/images/2015/05/white-space-uxpin-0b.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;*/
}


form {
  width: 450px;
  margin: 1% auto;
}


.headerf {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.inputf {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px #282828;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  border: 5px;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: 	#282828;
  font-family: inherit;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #585858;
}
  

input:focus {
  outline: none;
  outline: 2px solid #101010 ;
  box-shadow: 0 0 2px #101010 ;
}
