<body>
<h1><span style="color: #ff0000;"> Error Found!</span></h1>
<%="Error Code/Type : " + @error_messages[0]%>

<p><a href="https://avengers-deadly-shortener.herokuapp.com/">GIVE ME ANOTHER CHANCE!</a></p>
</body>