<html>
	<head>
		<title>Johnson's Url Shortener</title>
		<link href='css/application.css' type='text/css' rel='stylesheet' />
	</head>
	<body>
	
		<%= yield %>
	</body>
</html>



<!-- # =============================YC's Code====================== -->


